
body{
    margin:0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 200%; 
    color: #40514E;
}
h1{
    font-size: 5.652rem;
    margin: 20px auto 0;
    line-height: 2;
    font-family: 'Akaya Telivigala', cursive;
    color:#66BFBF;
   
}
h2{
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    color:#66BFBF;
    
    padding-bottom: 5px;
   

}
h3{
    font-family:'Montserrat', sans-serif;
    color:#11999E;
    font-weight: normal;
}
p{
    line-height:2;
}
hr{
    border:#EAF6F6 dotted 6px;
    border-bottom: none;
    width:5%;
    margin: 100px auto;
}

.top-container{
    background-color:#EAF6F6;
    position: relative;
    padding: 50px;
    

}
.middle-container{
    margin: 100px 0;
    
}   
.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
    
}
.bolt{
    text-decoration: underline;
}
.intro{
    width:30%;
    margin: auto;; 
}
.bottom-cloud{
      position: absolute;
      left: 300px;
      bottom: 300px;

}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 30px;
}
a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin:20px 10px;
    text-decoration: underline;

}
a:hover{
    color:#EAF6F6; 
}
.skill-row{
    
    margin:100px auto 100px;
    text-align: left;
}
.developer_img{
    width:200px;
    height: 200px;
    float: left;
    margin: 40px;
    
}
.mutton-img{
    width:200px;
    height: 200px;
    float:right;
    margin:0 50px;
}
.human-img{
    width:200px;
    height: 200px;
}
.first-skil-descp{
   
}
.second-skil-descp{
    margin-left:20px;
}
.Contact_messages{
        margin:40px auto 60px;
        width:40%;
    
}
.btn {
	border: 2px dashed #11999E;
    font family:'Montserrat', sans-serif;
	
    
}

.btn:hover {
	background:aquamarine;
    
}
.copyright{
    color:#EAF6F6;
    font-size:1rem;
    margin: auto;
    padding:20px 0 10px;
}
